<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <configSections>
    <section name="custom.auth" type="spbase.configuration.CustomAuthSection,spbase,Version=1.0.0.0,Culture=neutral,PublicKeyToken=697591a3f257ff0d" />
  </configSections>
  <custom.auth>
    <paths>
      <add path="/cms" cookieName="fakta2.CMS_AUTH" loginProfile="cms" timeout="600" loginUrl="common/cms_login.aspx" />
	</paths>
  </custom.auth>
  <appSettings>
    <add key="cookie_cms" value="fakta2.CMS_AUTH" />
    <!--<add key="simplemode_roles" value=""/>-->
    <add key="useCustomAuth" value="true" />
    <add key="connectionString" value="Data Source=91.220.58.208;Initial Catalog=sp_fakta2;User Id=sp4_fakta;Password=sp4fakta_9virkasp;" />
    <add key="siteId" value="77" />
    <add key="debug.mode" value="false" />
    <add key="include.header" value="true" />
    <add key="google.settings" value="info@fakta.se;BratWorst22!;9632429;1" />
  </appSettings>
  
    <system.web>
      <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="12288" requestLengthDiskThreshold="12288" />
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
	    <compilation debug="true">
		    <assemblies>
			    <!--<add assembly="spbase,Version=1.0.0.0,Culture=neutral,PublicKeyToken=b2a9edfb63a90cd6" />-->
			    <add assembly="Newtonsoft.Json,Version=1.3.0.0,Culture=neutral,PublicKeyToken=3f80305b00799ef4" />
          <add assembly="spbase,Version=1.0.0.0,Culture=neutral,PublicKeyToken=697591a3f257ff0d" />
          <add assembly="spcore,Version=1.0.0.0,Culture=neutral,PublicKeyToken=16326a00c4794f3c" />
          <add assembly="spmenu,Version=1.0.0.0,Culture=neutral,PublicKeyToken=8c859562b0b71912" />
          <add assembly="spmodules,Version=1.0.0.0,Culture=neutral,PublicKeyToken=d2ac05feb994d626" />
		    </assemblies>
	    </compilation>

        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
      <authentication mode="Forms">
        <forms name="fakta.ASPXAUTH" loginUrl="login_gateway.ashx" protection="All" path="/" />
      </authentication>
	    <!--
                The <customErrors> section enables configuration 
                of what to do if/when an unhandled error occurs 
                during the execution of a request. Specifically, 
                it enables developers to configure html error pages 
                to be displayed in place of a error stack trace.
            <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
	    <error statusCode="403" redirect="NoAccess.htm" />
                <error statusCode="404" redirect="/deve/webroot/dign_test6.aspx" />
            </customErrors>
	    -->
      <customErrors mode="Off">
        <error statusCode="404" redirect="404.ashx" />
      </customErrors>
<!--
      <customErrors mode="RemoteOnly" defaultRedirect="~/error.html">
      </customErrors>
      -->
      <pages enableEventValidation="false" />
      <httpHandlers>
        <add verb="*" path="login_gateway.ashx" type="spbase.httphandler.LoginGateway,spbase,Version=1.0.0.0,Culture=neutral,PublicKeyToken=697591a3f257ff0d" />
        <add verb="GET,POST" path="ajaxbase.aspx" type="spbase.controls.Ajax,spbase,Version=1.0.0.0,Culture=neutral,PublicKeyToken=697591a3f257ff0d" />
        <add verb="GET,POST" path="webroot/thumbnail/*.*" type="spbase.httphandler.ThumbnailHandler,spbase,Version=1.0.0.0,Culture=neutral,PublicKeyToken=697591a3f257ff0d" />        
        <add verb="GET,POST" path="spform.ashx" type="spbase.httphandler.FormHandler,spbase,Version=1.0.0.0,Culture=neutral,PublicKeyToken=697591a3f257ff0d" />
		<add verb="GET,POST" path="rss/*" type="spbase.httphandler.Rss,spbase,Version=1.0.0.0,Culture=neutral,PublicKeyToken=697591a3f257ff0d" />
      </httpHandlers>
      <httpModules>
        <!--<add name="sp3job" type="sp3core.httpmodules.Sp3Job,sp3core,Version=1.0.0.0,Culture=neutral,PublicKeyToken=d2bc39de3fd7efb4"/>-->
        <add name="LoginHttpModule" type="spbase.httpmodules.LoginHttpModule,spbase,Version=1.0.0.0,Culture=neutral,PublicKeyToken=697591a3f257ff0d" />
        <add name="UrlRouter" type="spbase.httpmodules.UrlRouter,spbase,Version=1.0.0.0,Culture=neutral,PublicKeyToken=697591a3f257ff0d" />
      </httpModules>
      <globalization responseEncoding="utf-8" requestEncoding="utf-8" />

    </system.web>
  <location path="cms">
    <system.web>
      <authorization>
		  <allow roles="admin,translator" />
		  <deny users="*" />
	  </authorization>      
    </system.web>    
  </location>
  <location path="kom_igang_med_analytics">
    <system.web>
      <authorization>
		  <allow roles="fakta-cust" />
		  <deny users="*" />
	  </authorization>      
    </system.web>    
  </location>

    <system.webServer>
        <handlers>
            <add name="wildcard" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>

</configuration>
